.team-item {
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  border: solid 1px #0001;
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.team-item > p {
  text-transform: capitalize;
  color: #333;
  flex-grow: 1;
}
