.home {
  min-height: 100vh;
  background: #edf2f4;
  display: flex;
  flex-direction: column;
}

.home__side-menu {
  /* background: #253CEF; */
  padding: 12px;
}

.home__playground {
  /* background: blue; */
}

@media screen and (max-width: 768px) {
  .home__side-menu,
  .home__playground {
    /* padding: 0; */
    flex-grow: unset;
  }
}
